*{
    margin:0px;
    box-sizing: border-box;
}
.container-hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;    
    width: 1080px;
}

header{
    background-color: #db6330;
    height: fit-content;
}
header img{
    object-fit: cover;
    width: 200px;
    height: 93px;
}
nav{
    display: flex;
    gap: 30px;
    margin-right: 20px;
}

nav a{
    color: #ede3e0;
    text-decoration: none;
    font-family: "Darker Grotesque";
    font-style: bold;
    font-size: 20px;
    font-weight: bold;
}
.container{
    margin:auto; 
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}

.divhero {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 70px;
    margin-right: 40px;
}
.titreetparagraphe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    font-family: "Darker Grotesque";
    background-color: #db633072;
    padding: 20px;
    font-size: 20px;
    color:#351b0a;
    border-radius: 4px
}

.titreetparagraphe h1{
    font-family: "Playfair Display";
}
.titreetparagraphe p{
    font-weight: bold;
}
.divhero div a{
    background-color: #e85c20;
    color: #ede3e0;
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
    border-radius: 5px;
    font-family: "Playfair Display";
}
section.hero {
    height: 700px;
    display: flex;
    justify-content: right;
    align-items: center;
    background-image: url(../rendu-3eme-semaine-cheimacherni-jpg/assets/architecte-interieur/photoo.jpg);
    background-size: cover;
    min-height: 90vh;
}

.listeetimg img{
    height: 300px;
    border-radius: 5px;
}
.listeetimg{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 70px;
}
.section2{    
    background-color: #ede3e0;
    display: flex
}
ul {
    list-style-type: circle;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
li{
    font-family:"Darker Grotesque";
    font-weight: 600;
    font-size: 25px;
}

h2{
    color: #db6330;
    font-family: "Playfair Display";
    font-size: 30px;
    text-align: center;
    padding: 30px;
    padding-left: 0px;
}

.section3{
    background-color: #db6330;
}
img {
    height: 300px;
    width: 300px;
}

.section3 article{
    background-color: white;
    width: 300px;
    font-family: "Darker Grotesque";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article div{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    }
   
article p{
    text-align: center;
    font-size: 20px;
}
.name{
    font-weight: bold;
    font-size: 25px;
}

.section3 h2{
    color: #ede3e0;
    font-family:"Playfair Display";
    font-size: 30px;
    text-align: center;
    padding: 40px;
}

article a{
    background-color: #e85c20;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    width: fit-content;
}

.section4{
    background-color: #ede3e0;
    height: fit-content;
}

.container2{
        margin: auto;
        width: 1080px;
        display: flex;
        flex-direction: column;
        gap: 70px;
 }

.text {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.droite {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
}

.gauche {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
h3 {
    font-family: 'Playfair Display';
    color: #e85c20;
    font-size: 25px;
    font-weight: 600;
}
p {
    font-family: 'Darker Grotesque';
    font-size: 25px;
}

.avis {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border-radius: 10px;
    padding: 30px;
}
p.pavis {
    text-align: center;
    font-style: italic;
}
.boxavis{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.container3{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    margin: auto;
    width: 1080px;
}

.section5 a{
    background-color: #dfc6ba;
    color: #2e2a29;
    font-family: "Darker Grotesque";
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
}

.avis p{
    font-weight: 300;
}

.section-padding{
    padding:50px 0px;
}
strong {
    font-weight: 600;
}
.divfooter{
    background-color: #ede3e0;
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 1080px;
}
.lienfooter a{
    text-decoration: none;
    font-family:"Darker Grotesque";
    font-size: 15px;
    color: #2e2a29;
}
.lienfooter a:not(:last-child)::after {
  content: " •";
  margin-left: 6px;
}
.divfooter p{
    font-family:"Darker Grotesque";
    font-size: 15px;
    color: #2e2a29;
}

.section-footer{
    background-color: #ede3e0;
}

.listeetimg h2{
    text-align: left;
    padding-left: 0px;
}